* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body {
    background-color: #F7F7F7;
}
.flex {
    display: flex;
}
header {
    width: 100%;
    height: 70px;
    background-color: #F7F7F7;
    z-index: 1;
}
nav {
    justify-content: space-between;
    padding: 0 50px 0 25px;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color:#F7F7F7 ;
}
nav a {
    color: black;
}
ul li {
    padding: 15px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 1px;
}
li:nth-child(3) {
    border-bottom: 2px solid black;
}
.logo {
    width: 30px;
    height: 30px;
    background-color:white;
    border-radius: 50px;
    border: 9px solid black;
    margin-top: 10px;
}
.text-container {
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
}
.equipe {
    width: 49%;
    height: 300px;
    margin-left: 15%;
}
.notre {
    width: 49%;
    height: 300px;
    margin-left: 15%;
}
.text-container h2 {
    font-size: 30px;
    letter-spacing: 1.5px;
}
.text-container p {
    font-size: 28px;
    margin-top: 30px;
    letter-spacing: 1px;
    line-height: 40px;
    text-align: left;
}
.pictures-container {
    width: 90%;
    height: 600px;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5%;
    margin-top: 5%;
}
.container-wrapper {
    width: 30%;
    height: 100px;
}  
.container-wrapper img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: 100px;
    margin-top: 50px;
}
.container-wrapper h4,p {
    text-align: center;
    font-size: 13px;
    margin-top: 10px;
}
.second-container {
    margin-top: 50px;
    width: 100%;
    height: 600px;
}
.second-block-wrapper {
    width: 50%;
    margin-left: 5%;
    flex-direction: column;
}
.second-block-p {
    font-size: 17px;
    margin-top: 15px;
    text-align: left;
    letter-spacing: 1px;
    line-height: 25px;
}
.second-block-wrapper h3 {
    letter-spacing: 2px;
}
.second-block-wrapper p {
    margin-top: 50px;
    font-size: 19px;
    text-align: left;
    line-height: 30px;
}
.blue-block-wrapper {
    width: 100%;
    margin-top: 70px;
    justify-content: space-evenly;
}
.blue-block {
    width: 25%;
    background-color:#0865DE;
    height: 150px;
    border-radius: 3px;
}
.blue-block h5 {
    color: white;
    letter-spacing:1.4px;
    margin-top: 20px;
    margin-left: 20px;
}
.blue-block p {
    color: black;
    margin-left: 20px;
    text-align: left;
}
.icon-div {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
    margin-top: 30px;
    margin-left: 20px;
}
.icon-div img {
    margin-left: 8px;
    width: 12px;
    height: 12px;
    margin-top: 9px;
}
.icon-h6-wrapper h6 {
    margin-top: 40px;
    margin-left: 10px;
    color: white;
    letter-spacing: 1.4px;
}
.second-block-wrapper-2 {
   margin-top: 100px;
   width: 35%;
   height: 300px;
   flex-direction: column;
   margin-left: 48%;
}
.third-container {
    width: 100%;
    height: 600px;
}
.pictures-container-2 {
    width: 90%;
    height: 600px;
    background-color: #FFFFFF;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: 5%;
}
.fource-container {
    width: 100%;
    height: 600px;
    margin-top: 10%;
}
.fource-container h3 {
    margin-left: 150px;
    font-size: 14px;
    letter-spacing: 1px;
}
.providence-block {
    justify-content: space-evenly;
}
.providence-foto {
    width: 18%;
    height: 350px;
    margin-top: 5%;
    background-color: white;
}
.providence-foto img {
    width: 100%;
    height: 200px;
}
.providence-foto h5 {
    margin-left: 20px;
    margin-top: 20px;
    font-size: 13px;
    letter-spacing: 1px;
}
.providence-foto p {
    text-align: left;
    margin-left: 20px;
}
.providence-foto h6 {
    margin-left: 20px;
    color: rgba(0, 0, 0, 0.212);
    margin-top: 10px;
}
.icon-p-wrapper p {
    font-size: 11px;
    margin-top: 20px;
}
.icon-box {
    width: 30px;
    height: 30px;
    margin-top: 10px;
    margin-left: 15px;
}
.icon-box img {
    width: 100%;
    height: 100%;
}